# Core ML + Data
pandas
numpy
joblib
scikit-learn

# ML Models
xgboost
lightgbm
catboost

# API & Server
fastapi
uvicorn

# Weather API & Networking
requests

# Location Lookup
pgeocode

# Logging (standard library, no install needed)

# Misc utilities
tqdm
python-dateutil
